@model TaskListSystemMVC.Database.Model.MAccountInfo;

@{
    ViewData["Title"] = "Change Account Passwod";
}

<h2>Change Account Passwod</h2>

<form asp-action="ChangePassword" asp-controller="MAccountInfo" method="post">
    <input type="hidden" asp-for="UID" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Username" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedOn" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="UpdatedOn" />
    <div class="mb-3">
        <label for="txtPassword" class="form-label">Password</label>
        <input id="txtPassword" asp-for="Password" type="password" class="form-control" required="true"/>
    </div>
    <div class="mb-3">
        <label for="txtConfirmPassword" class="form-label">Confirm Password</label>
        <input id="txtConfirmPassword" asp-for="ConfirmPassword" type="password" class="form-control" required="true" />
    </div>
    <div class="d-flex gap-2 pt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@Url.Action("Index", "MAccountInfo")" class="btn btn-secondary">Cancel</a>
    </div>
</form>
