@inject IMasterHelper masterHelper

@model TaskListSystemMVC.Database.Model.MAccountInfo;

@{
    ViewData["Title"] = "Create Account";

    string message = ViewData["AlertMessage"]?.ToString();
}

<h2>Create Account</h2>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-danger" role="alert">
        @message
    </div>
}

<form asp-action="Create" asp-controller="MAccountInfo" method="post">
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedOn" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="UpdatedOn" />
    <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input id="txtName" asp-for="Name" class="form-control" type="text" required="true" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="chkActive" class="form-check-label">Active</label>
        <input id="chkActive" asp-for="Active" class="form-check-input" type="checkbox" required="true" value="false" />
    </div>
    <div class="mb-3">
        <label for="cmbLevel" class="form-label">Level Right</label>
        <select id="cmbLevel" class="form-select" asp-for="LevelRightID" asp-items="@await masterHelper.GetUserLevelRightSelectItemList()" required="true"></select>
    </div>
    <div class="mb-3">
        <label for="txtUsername" class="form-label">Username</label>
        <input id="txtUsername" asp-for="Username" class="form-control" type="text" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="txtEmail" class="form-label">Email</label>
        <input id="txtEmail" asp-for="Email" type="email" class="form-control" required="true"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="txtPassword" class="form-label">Password</label>
        <input id="txtPassword" asp-for="Password" type="password" class="form-control" required="true"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="txtConfirmPassword" class="form-label">Confirm Password</label>
        <input id="txtConfirmPassword" asp-for="ConfirmPassword" type="password" class="form-control" required="true" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="d-flex gap-2 pt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@Url.Action("Index", "MAccountInfo")" class="btn btn-secondary">Cancel</a>
    </div>
</form>
