@inject IMasterHelper masterHelper

@model TaskListSystemMVC.Database.Model.MAccountInfo

@{
    ViewData["Title"] = "Delete Account";
}

<h2>Delete Account</h2>

<form asp-action="Delete" asp-controller="MAccountInfo" method="post">
    <input type="hidden" asp-for="UID" />
    <input type="hidden" asp-for="ContactNumber" />
    <input type="hidden" asp-for="Skill" />
    <input type="hidden" asp-for="Hobby" />
    <input type="hidden" asp-for="Password" />
    <input type="hidden" asp-for="ConfirmPassword" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedOn" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="UpdatedOn" />
    <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input id="txtName" asp-for="Name" class="form-control readonly-disabled" type="text" readonly="true" />
    </div>
    <div class="mb-3">
        <label for="cmbLevel" class="form-label">Level Right</label>
        <select id="cmbLevel" class="form-select" asp-for="LevelRightID" asp-items="@await masterHelper.GetUserLevelRightSelectItemList()" required="true"></select>
    </div>
    <div class="mb-3">
        <label for="txtUsername" class="form-label">Username</label>
        <input id="txtUsername" asp-for="Username" class="form-control readonly-disabled" type="text" readonly="true" />
    </div>
    <div class="mb-3">
        <label for="txtEmail" class="form-label">Email</label>
        <input id="txtEmail" asp-for="Email" type="email" class="form-control readonly-disabled" readonly="true" />
    </div>
    <div class="d-flex pt-2 gap-2">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="@Url.Action("Index", "MAccountInfo")" class="btn btn-secondary">Cancel</a>
    </div>
</form>