@inject IMasterHelper masterHelper

@model TaskListSystemMVC.Database.Model.TDailyTask;

@{
    ViewData["Title"] = "Delete Task";
}

<h2>Delete Task</h2>

<form asp-action="Delete" asp-controller="TDailyTask" method="post">
    <input type="hidden" asp-for="UID" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedOn" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="UpdatedOn" />  
    <input type="hidden" name="sourcePage" value="@ViewData["SourcePage"]" />
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="txtReportID" class="form-label">Report ID</label>
                            <input id="txtReportID" asp-for="ReportByID" class="form-control readonly-disabled" type="text" readonly="true" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="dtReportOn" class="form-label">Reported On</label>
                            <input id="dtReportOn" asp-for="ReportedOn" class="form-control readonly-disabled" type="datetime-local" readonly="true" />
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="txtTitle" class="form-label">Title</label>
                    <input id="txtTitle" asp-for="Title" class="form-control readonly-disabled" type="text" readonly="true" />
                </div>
                <div class="mb-3">
                    <label for="txtDescription" class="form-label">Description</label>
                    <textarea id="txtDescription" asp-for="Description" class="form-control readonly-disabled" rows="8" readonly="true"></textarea>
                </div>
                <div class="mb-3">
                    <label for="txtRemark" class="form-label">Remark</label>
                    <textarea id="txtRemark" asp-for="Remark" class="form-control readonly-disabled" rows="6" readonly="true"></textarea>
                </div>

                @* button *@
                <div class="d-flex gap-2 pt-2">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    @switch (ViewData["SourcePage"]?.ToString())
                    {
                        case "CompletedTask":
                            <a href="@Url.Action("Index_Completed", "TDailyTask")" class="btn btn-secondary">Cancel</a>
                            break;
                        case "SummaryTask":
                            <a href="@Url.Action("Index_Summary", "TDailyTask")" class="btn btn-secondary">Cancel</a>
                            break;
                        default:
                            <a href="@Url.Action("Index", "TDailyTask")" class="btn btn-secondary">Cancel</a>
                            break;
                    }
                </div>

            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="cmbPIC" class="form-label">PIC</label>
                    <select id="cmbPIC" class="form-select readonly-disabled" asp-for="PICID" asp-items="@await masterHelper.GetAccountInfoSelectItemList()" readonly="true"></select>
                </div>
                <div class="mb-3">
                    <label for="cmbStatus" class="form-label">Status</label>
                    <select id="cmbStatus" class="form-select readonly-disabled" asp-for="StatusID" asp-items="@await masterHelper.GetStatusSelectItemList()" readonly="true"></select>
                </div>
                <div class="mb-3">
                    <label for="cmbType" class="form-label">Type</label>
                    <select id="cmbType" class="form-select readonly-disabled" asp-for="TypeID" asp-items="@await masterHelper.GetTypeSelectItemList()" readonly="true"></select>
                </div>
                <div class="mb-3">
                    <label for="dtScheduleOn" class="form-label">Scheduled On</label>
                    <input id="dtScheduleOn" asp-for="ScheduledOn" type="datetime-local" class="form-control readonly-disabled" readonly="true" />
                </div>
                <div class="mb-3">
                    <label for="dtCompleteOn" class="form-label">Completed On</label>
                    <input id="dtCompleteOn" asp-for="CompletedOn" class="form-control readonly-disabled" type="datetime-local" readonly="true" />
                </div>
            </div>
        </div>
    </div>
</form>